
@{
    ViewData["Title"] = "ShowDB";
}
@model IEnumerable<WebApplication3.Models.article>


<h1 class="display-4">Etat actuel du stock</h1>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Reférence</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Quantité</th>
        </tr>
    </thead>
    
    <tbody>
        
        @foreach (var a in (IEnumerable<Gestion_du_stock.article>)ViewData["stock"])
        {
            <tr>
                <td>@a.NumberRef</td>
                <td>@a.Name</td>
                <td>@a.SellPrice</td>
                <td>@a.QuantityStock</td>
            </tr>

        }
    </tbody>
</table>


